@mixin button-layout {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-size: 100% 100%;
}

@mixin flex-column($height) {
  @if $height {
    height: $height;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin center-position($width) {
  width: $width;
  margin: 0 auto;
}
$categories-font-size: 20px;
$navigation-font-size: 22px;
$medium-font-weight: 500;

$orange-color: #FFBCA2;

$transition-default: all 1s ease-in-out;