<div class="settings hidden">
  <div class="settings__container">
    <div class="settings__open-close">
      <button class="settings__open-close-btn" id="settings"></button>
    </div>
    <div class="settings__header">
      <div class="settings__header-text">Settings</div>
      <button class="settings__header-btn"></button>
    </div>
    <div class="settings__inner">
      <div class="settings__volume">
        <div class="settings__title">Volume</div>
        <div class="settings__slider-container">
          <input class='settings__slider' type='range' min='0' max='100'>
          <div class="settings__slider-icons">
            <img class="settings__icon" src="../assets/mute-icon.svg" alt="mute icon">
            <img class="settings__icon" src="../assets/loud-icon.svg" alt="loud icon">
          </div>
        </div>
      </div>
      <div class="settings__check">
        <div class="settings__title">Time game</div>
        <div class="settings__check-container">
          <div class="settings__text">On</div>
          <div class="settings__checkbox">
            <input type="checkbox" name="checkbox-cats1" id="checkbox-1" value="1" checked>
            <label for="checkbox-1"></label>
          </div>
        </div>
      </div>
      <div class="settings__time">
        <div class="settings__title">Time to answer</div>
        <form class="settings__form">
          <button class="settings__button settings__button--minus"></button>
          <div class="settings__number">0</div>
          <button class="settings__button settings__button--plus"></button>
        </form>
      </div>
    </div>
    <div class="settings__config">
      <div class="settings__config-wrapper">
        <button class="settings__config-button"></button>
        <button class="settings__config-button"></button>
      </div>  
    </div>
  </div>  
</div>