.footer {
  &__container {
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__developer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
  }
  &__name {
    width: 80%;
  }
  &__link {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }
  &__link:hover {
    color: $orange-color;
  }
}